**/*.env
*.png
**.png

*.err.*
*.out.*

*.batch

result_example/figures

heavy_tails/
heavytails

figures/

final_results
results

simulation.batch

.pytest_cache/

__pychache__/
__pycache__
**/__pychache__/
last_point/__pycache__
analysis/__pycache__
*.pyc

.pytest_cache

heavy_tails/

results_parallel/

tests_directory/

levy_plots


# launch specific scripts
experiments_utils.py
launcher_parallel.py
run_exp.py

weights/*
