**/*.env
*.png

*.err.*
*.out.*

*.batch

heavy_tails/

figures/

final_results

__pychache__/
__pycache__
**/__pychache__/
last_point/__pycache__
analysis/__pycache__
*.pyc

heavy_tails/

results_parallel/

tests_directory/

levy_plots


# launch specific scripts
experiments_utils.py
launcher_parallel.py
run_exp.py