**/*.env
*.png

*.err.*
*.out.*

risk_analysis.batch

heavy_tails/

figures/

final_results

__pychache__/
**/__pychache__/
*.pyc

tests/

heavy_tails/

results_parallel/

tests_directory/

levy_plots